:host {
  display: block;
  background-color: #fff;
}

.quark-form-item__wrapper {
  display: flex;
  padding: 10px 0;
  margin: 0 16px;
}

.quark-form-item__label {
  flex-shrink: 0;
  display: flex;
  margin-right: 12px;
  /* white-space: var(--cell-title-white-space, wrap);
  font-weight: var(--cell-title-font-weight);
  text-overflow: var(--cell-title-text-overflow); */
  font-size: var(--cell-title-font-size, 14px);
  color: #5A6066;
  line-height: 24px;
}

.quark-form-item__label span {
  display: inline-block;
}
.is-required .quark-form-item__label::before {
  content: '*';
  color: #f00;
  margin-right: 4px;
}

.is-no-asterisk .quark-form-item__label::before {
  display: none;
}

.quark-form-item__main {
  flex: 1;
}

.quark-form-item__main-content {
  min-height: 24px;
  /* display: flex; */
  /* align-items: center; */
}

.quark-form-item_error-msg {
  color: #f00;
  font-size: 12px;
  line-height: 24px;
}

.quark-form-item__suffix {
  margin-left: 4px;
  flex-shrink: 0;
}

.quark-form-item__is-link {
  display: flex;
  align-items: center;
}