:host {

}

::slotted(quark-form-item) {
  position: relative;
}
::slotted(quark-form-item)::after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  border-bottom: 1px solid #f5f6f7;
}

::slotted(quark-form-item:last-child)::after {
  display: none;
}

