.button-demo {
  .demo-buttons {
    quark-button {
      margin: 8px;
    }
  }
  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.custom-css {
  --calendar-background-color: #fce8e8;
  --calendar-theme-color: red;
}
