.scope-market {
    img {
      width: 288px;
      height: auto;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }
    quark-swipe {
    }
    .one {
      width: 100%;
      width: 325px;
      height: 200px;
      background-color: #66c6f2;
    }
    .two {
        width: 100%;
        width: 325px;
        height: 200px;
        background-color: #39a9ed;
    }
}