.uploader-demo {
  background-color: #fff !important;
  quark-button {
    margin-left: 10px;
  }
  quark-uploader {
    --uploader-border-width: 0px;
  }
  .closeimg {
    --uploader-delete-top: 0px;
    --uploader-delete-right: 0px;
    --uploader-delete-wrap-width: 14px;
    --uploader-delete-wrap-height: 14px;
    --uploader-delete-background: transparent;
    --uploader-delete-left-radius: 12px;
  }
}
