.tag-demo {
  .custom-background {
    --tag-background: #666;
  }

  .custom-color {
    --tag-background: #fff;
    --tag-text-color: #fb990f;
  }

  .tag-container {
    margin: 5px;
    display: inline-flex;
  }
}
