:host {
  display: block;
  font-size: 13px;
}

:host div {
  position: relative;
  display: flex;
  align-items: center;
  padding: 11px;
  border-radius: 8px;
  color: #ee8c02;
  background: #fef4e7;
}

:host .quark-noticebar-left quark-icon-notify {
  margin-right: 7px;
  color: var(--noticebar-left-color);
}

:host .quark-noticebar-right quark-icon-notify {
  color: var(--noticebar-right-color);
}

:host .quark-noticebar-text {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  flex: 1;
  display: block;
}
