.demo-checkbox {
  .checkbox-container {
	background: #fff;
    padding: 10px;
    border-radius: 4px;
	quark-checkbox {
		margin-right: 20px;
	}
  }

	.picked{
		color: #666;
		font-size: 12px;
		margin-top: 15px;
	}

  .my-color {
    --checkbox-background: linear-gradient(225deg, #ff918d 0%, #f54640 100%);;
  }
}
