:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 0;
  cursor: pointer;
  height: 100%;
}

:root {
  --quark-dropdown-menu-option-active-color: quark-primaryColor;
}

.quark-dropdown-item__title {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--quark-dropdown-menu-title-color, quark-textBaseColor);
  font-size: var(--quark-dropdown-menu-title-font-size, quark-fontSizeBase);
  padding: var(--quark-dropdown-menu-title-padding, quark-hSpacingMd);
}

.quark-dropdown-item__title::after {
  position: absolute;
  top: 50%;
  right: -4px;
  margin-top: -5px;
  border: 3px solid;
  border-color: transparent transparent var(--quark-dropdown-menu-title-color, quark-textBaseColor) var(--quark-dropdown-menu-title-color, quark-textBaseColor);
  transform: rotate(-45deg);
  opacity: 0.8;
  content: '';
}

.quark-dropdown-item--active {
  color: var(--quark-dropdown-menu-title-active-text-color);
}

.quark-dropdown-item--active::after {
  border-color: transparent transparent currentColor currentColor;
}

.quark-dropdown-item-down::after {
  margin-top: -1px;
  transform: rotate(135deg);
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.quark-dropdown-content {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;

  /* transition: transform quark-animationDurationBase;
  transition-timing-function: quark-animationTimingEnter;
  transform: translate(0, 100%); */
}