:root {
  --quark-dropdown-menu-option-active-color: quark-primaryColor;
}

:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.quark-dropdown-item {
  cursor: pointer;
}

.quark-dropdown-menu__title {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--quark-dropdown-menu-title-color, quark-textBaseColor);
  font-size: var(--quark-dropdown-menu-title-font-size, quark-fontSizeBase);
  padding: var(--quark-dropdown-menu-title-padding, quark-hSpacingMd);
  height: 100%;
  display: flex;
  align-items: center;
}

.quark-dropdown-menu__title::after {
  position: absolute;
  top: 50%;
  right: -4px;
  margin-top: -5px;
  border: 3px solid;
  border-color: transparent transparent var(--quark-dropdown-menu-title-color, quark-textBaseColor) var(--quark-dropdown-menu-title-color, quark-textBaseColor);
  transform: rotate(-45deg);
  opacity: 0.8;
  content: '';
}

.quark-dropdown-menu__title--active {
  color: var(--quark-dropdown-menu-title-active-text-color);
}

.quark-dropdown-menu__title--active::after {
  border-color: transparent transparent currentColor currentColor;
}

.quark-dropdown-menu__title--down::after {
  margin-top: -1px;
  transform: rotate(135deg);
}

.quark-dropdown-item__content--wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  overflow: hidden;
  /* display: none; */
}

.quark-dropdown-item__content {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.quark-dropdown-item__option--active {
  color: var(--quark-dropdown-menu-option-active-color);
}

.quark-dropdown-item__content--mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  /* z-index: -1; */
}