.demo-dialog {
  .custom-footer {
    margin-top: 20px;
    quark-button {
      background: linear-gradient(270deg, #00D9FF 0%, #0098FE 100%);
      border-radius: 24px;
      width: 100%;
      height: 48px;
    }
  }

  .dialog-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }
  
  img {
    width: 288px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
}
