:host {
  width: 100%;
  display: block;
}

:host ul {
  list-style: none;
  padding: 0;
}

:host quark-button {
  width: 100%;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  --button-height: 100%;
  --button-font-size: 18px;
}

:host .quark-picker-container {
  width: 100%;
  height: 338px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host .quark-picker-header {
  position: relative;
  height: 56px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host .quark-picker-title {
  color: var(--picker-title-color, quark-textBaseColor);
  font-weight: var(--picker-title-font-weight, 500);
  font-family: var(--picker-title-font-family, quark-mFontFamily);
  text-align: center;
  font-size: var(--picker-title-font-size, 18px);
}

:host .quark-picker-header-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host quark-icon-close {
  font-size: 24px;
  color: #bcc4cc;
  cursor: pointer;
}

:host .quark-picker-content {
  position: absolute;
  display: flex;
  top: 56px;
  bottom: 72px;
  left: 0;
  right: 0;
  background-color: white;
  box-sizing: border-box;
}

:host .quark-picker-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: white;
  box-sizing: border-box;
  padding: 12px 16px;
}

:host .quark-picker-mask-top,
.quark-picker-mask-bottom {
  z-index: 10;
  width: 100%;
  height: 83px;
  pointer-events: none;
  transform: translateZ(0);
}

:host .quark-picker-mask-top::after {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0;
  left: 16px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-bottom: 2px solid #f5f6f7;
}

:host .quark-picker-mask-bottom::before {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  top: 0;
  left: 16px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-bottom: 2px solid #f5f6f7;
}

.quark-picker-mask-top {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
}

:host .quark-picker-mask-bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
}

:host .quark-picker-wheel-wrapper {
  display: flex;
  padding: 10px 16px;
  width: 100%;
}

:host .quark-picker-wheel {
  flex: 1;
  width: 1%;
  height: 100%;
  overflow: hidden;
}

:host .quark-picker-wheel-scroll {
  padding: 0;
  margin-top: 74px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host .quark-picker-wheel-item {
  font-size: 16px;
  list-style: none;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  white-space: nowrap;
  color: quark-textBaseColor;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:host([bottomhidden]) .quark-picker-picker-content {
  bottom: 0px;
}

:host([bottomhidden]) .quark-picker-picker-container {
  height: 266px;
}
