:host {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: #FFFFFF;
}

:host .num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-width: var(--countdown-num-min-width, 18px);
  padding: var(--countdown-num-padding, 0 3px);
  border-radius:  var(--countdown-num-border-radius, 4px);
  background: var(--countdown-num-background, #F4433D);
}

:host .dot {
  display: inline-block;
  margin: var(--countdown-dot-margin, 0 2px);
  color: var(--countdown-dot-color, #F4433D);
}