.scope-list .list-list {
  padding: 0 16px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0 16px;
  border-bottom: 1px solid rgb(235, 237, 240);
}
.scope-list  .list-text {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
  color: #879099;
}