:root {
  --quark-dropdown-menu-height: 48px;
}

.quark-dropdown-menu__bar {
  display: flex;
  height: var(--quark-dropdown-menu-height);
  box-shadow: 0 2px 12px rgba(100, 101, 102, 0.12);
  background: #fff;
}
