:host {
  display: block;
}

:host .quark-textarea {
  /* padding: 12px; */
  background: rgb(255, 255, 255);
  border: 1px solid var(--textarea-border-color);
  display: block;
}

:host .quark-text-area {
  resize: none;
  flex: auto;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  color: var(--textarea-color, quark-textBaseColor);
  font-size: var(--textarea-font-size, quark-fontSizeBase);
  line-height: 1.5;
  background: 0 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 1.5em;
  text-align: var(--textarea-text-align, left);
}

:host .quark-textarea-text-count {
  text-align: var(--textarea-text-count-align, right);
  color: var(--textarea-count-color, gray);
  padding-top: 8px;
  font-size: 14px;
}
