:host {
  display: flex;
  width: 100%;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding: 10px 0;
  background: #fff;
  font-size: 12px;
  box-shadow: 0px -2px 8px 0px rgba(36, 39, 41, 0.08);
}

:host([fixed]) {
  position: fixed;
  bottom: 0;
  left: 0;
}

.quark-tabbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
