:host {
  display: block;
  background: #fff;
}
::slotted(quark-cell) {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
::slotted(quark-cell):after {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  bottom: 0;
  left: 16px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-bottom: 2px solid #f5f6f7;
}
::slotted(quark-cell:last-child):after {
  border: none;
}
