.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.cancel {
  color: #969799;
  font-size: 14px;
}
.ensure {
  font-size: 14px;
  color: #0088ff;
}
.picker-title {
  font-size: 16px;
  color: #242729;
}
.custom-pickerview {
  --pickerview-item-height: 44px;
  --pickerview-height: 220px;
  --pickerview-row-top-mask-height: 88px;
  --pickerview-row-bottom-mask-height: 88px;
  --pickerview-scroll-margin-top: 88px;
  --pickerview-current-top: 90px;
}
