:host {
  display: block;
  position: relative;
  background: #fff;
  overflow: hidden;
}

.quark-swipe-cell__wrapper {
  /* overflow: hidden; */
}

:host .quark-swipe-cell__left,
:host .quark-swipe-cell__right {
  position: absolute;
  top: 0;
  height: 100%;
}

:host .quark-swipe-cell__left {
  left: 0;
  transform: translate3d(-100%, 0, 0);
  background-color: #f00;
}

:host .quark-swipe-cell__right {
  right: 0;
  transform: translate3d(100%, 0, 0);
  background-color: #08f;
}
