:host {
  --popup-mask-color: rgb(0, 0, 0);
  --popup-max-width: 100%;
  --popup-max-height: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}

:host .quark-imagepreview-indicator {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

:host .quark-imagepreview-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  background: var(--imagepreview-item-bg-color, black);
  transition-duration: 0.3s;
}
:host .quark-preview-image {
  width: auto;
  height: 100%
}
:host .quark-imagepreview-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  -webkit-user-drag: none;
}
:host .quark-imagepreview-slide {
  height: 100vh;
}
:host .quark-imagepreview-slide .quark-imagepreview-slide-wrapper {
  position: relative;
}

:host .quark-imagepreview-slide-wrapper {
  overflow: hidden;
  height: 100%;
  background: var(--imagepreview-item-bg-color, black);
}

:host .quark-imagepreview-slide-content {
  white-space: nowrap;
  display: flex;
  height: 100%;
  background: var(--imagepreview-item-bg-color, black);
}
