.popup-demo {
  .demo-buttons quark-button {
    margin-right: 6px;
    margin-top: 6px;
  }

  .demo-buttons {
    margin-bottom: 24px;
  }
}

.fix-content {
  line-height: 50px;
  display: flex;
  justify-content: center;
}
.scroll-list {
  max-height: 60vh;
  overflow: auto;
  div {
    width: 240px;
    display: flex;
    justify-content: center;
  }
}
