# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/**'
      - 'src/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: yarn
    - run: yarn copydocs
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        branch : main # action 应该部署到的分支。
        folder : site_docs # 操作应该部署的文件夹。
        clean: false
        repository-name: hellof2e/quark-design-docs
        token: ${{ secrets.GIT_ACTION }}
        target-folder: src/docs_vue
