.toast-demo {
  quark-button {
    margin-right: 6px;
    margin-top: 6px;
  }

  .quark-cell {
    padding: 13px 16px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 7px #edeef1;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 20px;
  }

  .quark-cell__title {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex: 1;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}
